* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: rgba(76, 110, 116, 0.47);
    nav {
        background-color: #F3F4F6;
    }
}