@use './vars' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font_family;
    height: 100vh;
    background-color: $body;
    nav {
        background-color: $header;
    }
}